<div class="form-container mat-elevation-z5" >
  <h2>Sign In</h2>

  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email"/>
      <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="password" formControlName="password" type="password"/>
      <mat-error *ngIf="password?.errors?.['required']">No Password</mat-error>
    </mat-form-field>
    <div class="center margin-top">
      <button mat-raised-button color="primary" type="submit">
        Login
      </button>
    </div>
    <div class="center margin-top">
      <span> <a routerLink="volunteers" class="sign-up-link">sign up</a></span>
    </div>
  </form>
</div>
